* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  --red: #E60012;
  --black: #2C2F3B;

  --line: #B2BFC3;
  --light: #DCE4E8;
  --dark: #D4DDE1;

  --success: #84A729;
  --error: #D24735;
  --shadow: 4px 4px 8px 2px var(--dark) inset, -4px -4px 8px 2px #fff inset;
  --shadow-small: 2px 2px 4px 1px var(--dark) inset, -2px -2px 4px 1px #fff inset;

  color: var(--black);
  background-color: var(--light);
}

#app {
  width: 100vw;
  height: 100vh;
}

.main {
  opacity: 0.05;
  position: relative;
  width: calc(100% - 320px);
  height: calc(100% - 120px);
}

.aside {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100%;
  padding: 32px;
}

.chess-manual {
  height: 40%;
  border-radius: 16px;
  box-shadow: var(--shadow);

  .manual-list {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    overflow-y: auto;

    .manual-item {
      width: 50%;
      text-align: center;
      line-height: 1.6;

      &.red {
        color: var(--red);
      }

      &.black {
        color: var(--black);
      }
    }
  }
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 50%;

  .chat-list {
    flex: 1;
    padding: 16px;
    border-radius: 16px;
    box-shadow: var(--shadow);
    overflow-y: auto;

    .chat-item {
      & + .chat-item {
        margin-top: 16px;
      }

      &.self {
        text-align: right;
        padding-left: 44px;

        .nickname {
          color: var(--success);
        }
      }

      .nickname {
        font-size: 12px;
        font-weight: 700;
        overflow: hidden;
      }

      .value {
        word-break: break-all;
      }
    }
  }
  
  .input-wrapper {
    height: 44px;
    border-radius: 8px;
    box-shadow: var(--shadow-small);
  
    .chat-input {
      all: unset;
      width: 100%;
      height: 44px;
      padding: 8px 16px;
      box-sizing: border-box;
    }
  }
}