html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

h1 {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

.header .title {
  flex: 1;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.btn {
  padding: 5px 10px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
}

.arkanoid {
  flex: 1;
  min-height: 0;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.controls {
  position: relative;
  width: 300px;
  height: 32px;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
}

.controls .target {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -24px;
  width: 48px;
  height: 24px;
  border-radius: 4px;
  background-color: #f1f1f1;
  color: #888;
  cursor: pointer;
  transform-origin: center center;
}

.controls .target.active {
  background-color: #44ad44;
  color: #fff;
}

